%table.table.table-condensed.table-bordered.table-striped
  %tr
    %th Player
    %th Position
    %th Salary
    %th Next Game
    %th FPPG
    %th Next Opp
    %th Next YPL
    %th League YPL
    %th Next YPR
    %th League YPR
    %th Next YPP
    %th League YPP
  - @results[:list].each do |p|
    %tr
      %td= p.name
      %td= p.pos
      %td= p.salary
      %td= p.fixture
      %td= p.fppg
      %td= p.next_opp
      %td= p.opp_ypl
      %td= p.la_ypl
      %td= p.opp_ypr
      %td= p.la_ypr
      %td= p.opp_ypp
      %td= p.la_ypp
  %tr
    - 2.times do
      %td
    %td
      Total: #{@results[:salary]}
    %td
    %td
      Total: #{@results[:fppg]}
