<%= form_tag('/lottery/comboresults', :id => 'comboform') do %>
    <div class="lotterylabels">
      Select the number of balls to play, then select the number of the highest ball:
    </div>
    <%= radio_button_tag(:combo, '4', :checked => true) %>
    <%= label_tag(:combo_4, '4 Balls') %>
    <%= radio_button_tag(:combo, '5') %>
    <%= label_tag(:combo_5, '5 Balls') %>
    <%= radio_button_tag(:combo, '6') %>
    <%= label_tag(:combo_6, '6 Balls') %>
    </br>
    </br>
    <div class="lotterylabels">
      Enter the number of the highest ball:
      <%= text_field_tag(:highest_num, nil, maxlength: 2, size: 2, :id => 'highest_num') %>
      </br>
    </div>
    <br/>
    </br>
    </br>
    <%= submit_tag 'Generate your combo number(s)!', class: 'btn btn-primary', :id => 'generateBtn' %>
<% end -%>