<div class="lotterylabels">
  <% @odds = generate_odds_from_ball_combo(params[:combo].to_i,params[:highest_num].to_i) %>
  The odds of winning this game are <%= @odds %> to 1.
  <% @combo = generate_ball_combo(params[:combo].to_i,params[:highest_num].to_i) %>
  <br/>
  Here is a combination for you :
  <table class="table table-condensed table-bordered">
  <tr>
    <% 1.upto(params[:combo].to_i).each do |n| %>
      <td class="table-data-picked"><%= @combo[n-1] %></td>
    <% end %>
  </tr>
  </table>
  <br/>
  Click below to simulate a game played daily with <%= params[:combo] %> balls and a highest ball numbered <%= params[:highest_num] %> :
  <br/>
  <br/>
  <%= link_to "Simulate how long it takes to win!", lottery_simulate_path(balls: params[:combo], highest: params[:highest_num] ), :remote => true , :id => "simulate" , :class => "btn btn-primary" , method: :post %>
  <br/>
  <br/>
  <div id="simresults"></div>
  <br/>
</div>