.lotterylabels
  - @days = number_of_days_to_play(params[:recorded])
  - @dayplay = Date.today
  - if params[:play_until_win]
    You have chosen to play the lottery daily until you win!
    The winning number and date will be highlighted.  Hover over the winning number to see additional info.
  - else
    You have chosen to play the lottery daily until #{(params[:pickdate])}.
    This will be played for #{@days} days.
    Any winning number will be highlighted with the date won!  Hover over the winning number to see additional info.
  %br/
%br/
%table.table.table-condensed.table-bordered
  %tr
    %th Week #
    - (1..7).each do |tr|
      %th
        Day #{tr}
  - if params[:play_until_win]
    - wk = 0
    - until @picked == params[:lucky_num] do
      %tr
        %td.table-data-rownum= wk+=1
        - 1.upto(7) do
          - @picked = generate_pick_combo(params[:pick].to_i)
          - if @picked == params[:lucky_num]
            - @win = 'Winning number on: ' + ((@dayplay).strftime("%m/%d/%Y")).to_s + ' after ' + (@dayplay - (Date.today)).to_i.to_s + ' days.'
            %td#popup= @win
            %td#winner.table-data-winner= @picked
            - break
          - else
            %td.table-data-picked= @picked
            - @dayplay += 1
  - else
    - @weeks = weeks_to_play(number_of_days_to_play(params[:recorded]))
    - 1.upto(@weeks) do |i|
      %tr
        %td.table-data-rownum= i
        - 1.upto(seven_or_remainder(@weeks,@days,i)) do
          - @picked = generate_pick_combo(params[:pick].to_i)
          - if @picked == params[:lucky_num]
            - @win = 'Winning number on: ' + ((@dayplay).strftime("%m/%d/%Y")).to_s + ' after ' + (@dayplay - (Date.today)).to_i.to_s + ' days.'
            %td#popup= @win
            %td#winner.table-data-winner= @picked
          - else
            %td.table-data-picked= @picked
            - @dayplay += 1
