<div class="lotterylabels">
  <% @days = number_of_days_to_play(params[:recorded]) %>
  You have chosen to play the lottery daily until <%= (params[:pickdate]) %>.
  This will be played for <%= @days %> days.
  <br/>
  A winning number will be highlighted!
</div>
<br/>
<table class="table table-condensed table-bordered">
  <tr>
    <th>Week #</th>
    <% (1..7).each do |tr|%>
    <th>Day <%= tr %></th>
    <% end %>
  </tr>
  <% @weeks = weeks_to_play(number_of_days_to_play(params[:recorded])) %>
  <% 1.upto(@weeks) do |i| %>
    <tr>
      <td class="table-data-rownum"><%= i %></td>
      <% 1.upto(seven_or_remainder(@weeks,@days,i)) do %>
        <% @picked = generate_pick_combo(params[:pick].to_i) %>
        <% if @picked == params[:lucky_num] %>
            <td class="table-data-winner"><%= @picked %></td>
        <% else %>
            <td class="table-data-picked"><%= @picked %></td>
        <% end %>
      <% end %>
    </tr>
  <% end %>
</table>
