<!DOCTYPE html>
<html>
<head>
  <title>Lottery Simulator</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">

<div id="banner">
  <%= @page_title || "Lottery and Chance Simulator" %>
</div>

<div id='cssmenu'>

  <ul>
    <li class='active'><a href='/lottery/pick4'><span>Pick 4 Daily Game</span></a></li>
    <li><a href='/lottery/combo'><span>Combo Ball Lottery</span></a></li>
    <li class='last'><a href='/lottery'><span>Life and Death</span></a></li>
    <li class='last'><a href='/lottery'><span>Coin Flipping Fun</span></a></li>
    <li class='last'><a href='/lottery'><span>Feedback</span></a></li>
    <li class='last'><a href='/lottery'><span>Back Home</span></a></li>
  </ul>

  <div id="bag">
    <%= image_tag("bag.png") %>
  </div>

</div>

<div id="main">
  <%= yield %>
</div>


</body>
</html>
